/* navigation.css */
/* mobile first styles */
/* animate slideout menu */
header {
  position: relative;
  height: 5rem;
  background-color: rgb(114, 101, 87);
  -moz-background-clip: border-box;
}
header h1 {
  background-color: rgb(114, 101, 87);
  color: #e7e4e1;
  border-bottom: .1rem solid rgb(57, 50, 44);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
}
#menu-toggle {
  float: right;
  margin-right: 1rem;
  transition: transform .2s;
}
#menu-toggle.opened {
  transform: rotate(45deg);
}
#menu-toggle.closed {
  transform: rotate(45deg);
}
nav.primary-nav {
  background-color: rgb(228, 202, 174);
  margin-bottom: 2rem;
  transition: all ease-out .5s;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 0;
  box-sizing: border-box;
}
nav.opened {
  top: 3.5rem;
}
nav.closed {
  top: -450%;
}
nav ul {
  list-style-type:  none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: .1rem solid rgb(114, 101, 87);
  margin-bottom: 0;
}
nav li a {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  padding: .5rem 1rem;
  color: rgb(114, 101, 87);
  font-weight: bold;
  text-align: center;
}
nav li a:hover {
  color: #efefef;
  background-color: teal;
}
/* change navbar to horizontal at 660px and greater */
@media only screen and (min-width: 660px) {
  nav ul {
    flex-direction: row;
  }
}
/* tablet landscape breakpoint */
@media only screen and (min-width: 911px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .1rem solid rgb(114, 101, 87);
    margin-bottom: 2rem;
  }
  #menu-toggle {
    height: 0;
    opacity: 0;
  }
  nav {
    border: none;
    margin-bottom: 0;
  }
  nav.closed {
    top: 3.5rem;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li > a {
    font-size: 1.3rem;
  }
}
