body {
 font-family: "Lucida Console", "Courier New", monospace;
Font-Size: 20px;
	background: #ececec; 
}
h1,h2,h3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
{
.p font-family: "Lucida Console", "Courier New", monospace;  
}