body {
    font-size: 135%;
    line-height: 1.35;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    background-color: #10002b; 
    color: #f2f2f2;
    margin: .5em 1em;
}

h1,h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    color: #E0AAFF; 
}
/*links*/
a {
    color: #c77dff;
}
a:visited {
    color: #8200e6; 
}
a:hover {
    color: 	#e9ccff; 
}
/*figures*/
figure {
    width: 360px;
    max-width: 100%;
    min-width: 150; 
    color: #10002B;
    background-color: #f2f2f2;
    padding: .75em .5em 1em .5em; /*first is top, 2nd is right, 3rd is bottom, 4th is left*/
    border: .3em #a6a6a6 solid;
    margin: 0;  
}
figure img {
    width: 100%;
}
header, main, footer {
    width: 40em;
    max-width: 90%;
}
.bold {
  font-weight: bold;  
}
.italic {
    font-style: italic;
}
.float_right {
    float: right; 
    margin: 0em .5em .5em 1em;
    max-width: 100%;
    min-width: 150;
}

